
* {
    -fx-background-color: #0e1742;
    -fx-text-fill: white;
}

.chart-plot-background {
    -fx-background-color: #1e1e1e;
}

.chart-title {
    -fx-text-fill: white;
}

.chart-legend {
    -fx-text-fill: white;
}

.chart-series-line {
    -fx-stroke-width: 2px;
}

.default-color0.chart-series-line {
    -fx-stroke: #0d6efd;
}

.default-color0.chart-line-symbol {
    -fx-background-color: #0d6efd, white;
}


/*#pagination .control-buttons-box {*/
/*    -fx-background-color: #007acc; !* sau culoare închisă *!*/
/*}*/

#pagination .number-button {
    -fx-background-color: #1e1e1e;
    -fx-text-fill: white;
    -fx-border-color: #444;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-background-insets: 0; /* <- adaugă asta */
}

#pagination .number-button:hover {
    -fx-background-color: #333333;
}

#pagination .number-button:selected {
    -fx-background-radius: 4;
    -fx-background-insets: 0; /* <- adaugă asta */
    -fx-background-color: #007acc; /* un accent albastru */
    -fx-text-fill: white;
}

/* Navigație "Next" / "Previous" */
#pagination .control-buttons {
    -fx-background-color: #007acc !important;
    -fx-text-fill: white;
}

#pagination .pagination-control .left-arrow, .right-arrow {
    -fx-background-color: #333333;
}

#pagination .button {
    -fx-background-color: #007acc;
    -fx-text-fill: white;
}


.text-field {
    -fx-background-color: #007acc;
    -fx-control-inner-background: lightyellow;
    /*-fx-text-fill: black;*/
}


.choice-box {
    -fx-background-color: white;
}

.choice-box:hover, .choice-box:focused {
    -fx-background-color: #cce5ff;
}

.choice-box > .label {
    -fx-text-fill: black;
    -fx-background-color: white;
}

.choice-box:hover > .label, .choice-box:focused > .label {
    -fx-background-color: transparent;
}

.choice-box > .open-button {
    -fx-background-color: white;
}

.choice-box:hover > .open-button, .choice-box:focused > .open-button {
    -fx-background-color: #cce5ff;
}

.choice-box > .open-button > .arrow {
    -fx-background-color: black;
}

/* Dropdown list */
.choice-box .context-menu {
    -fx-background-color: white;
}

.choice-box .menu-item, .choice-box .menu-item > * {
    -fx-background-color: white;
}

.choice-box .menu-item > .label {
    -fx-text-fill: black;
}

/* Hover effect in dropdown */
.choice-box .menu-item:focused {
    -fx-background-color: #cce5ff;
}

.choice-box .menu-item:focused > .label {
    -fx-background-color: transparent;
    -fx-text-fill: black;
}

.choice-box .menu-item:focused > .left-container {
    -fx-background-color: transparent;
}

